{% extends "layout/adminLayout.html" %} {% block title %}Library | Dashboard{% endblock %} {% block content %}
{{ numofproducts }}
Menus

{{ numoforders }}
Orders

{{ numofcustomers }}
Customers

€{{ income }}
Income

Recent Order Request

Newest
{% for ro in recentorders %}
DexignZone
{{ ro.product.name }}.
#{{ ro.order_user_id }}

{{ ro.name }} {{ ro.surname }}
{{ ro.address }}

${{ ro.total }}
x{{ ro.quantity }}

PENDING
Accept order Reject order View Details
{% endfor %}
View More >>
Trending Menus
{% set i = 0 %} {% for tp in trendingproducts %}
{% set i = i + 1 %}
image
#{{ i }}
{{ tp.product.name }}
€{{ tp.product.price }}
Order {{ tp.total_quantity }}x

{% endfor %}
{% endblock %}
