{% extends "layout/adminLayout.html" %}

{% block title %}Library | Dashboard{% endblock %}

{% block content %}

<div class="content-body">
  <!-- row -->
<div class="container-fluid">
<div class="row">
<div class="col-xl-12">
<div class="bg-white w-100 h-100 p-4" >
<h3 class="text-danger fw-bold">ORDER NO: {{ orderId }}</h3>


<table class='table  table-borderless w-100'>
<tbody>
<tr class='border border-top-0 border-start-0 border-end-0'>
<td class='w-50'>Full Name</td>
<td>{{ orderinfo.name }} {{ orderinfo.surname }}</td>
</tr>
<tr class='border border-top-0 border-start-0 border-end-0'>
<td>Mobile Phone</td>
<td>{{ orderinfo.orderUser.user.phone }}</td>
</tr>
<tr class='border border-top-0 border-start-0 border-end-0'>
<td>Email</td>
<td>{{ orderinfo.orderUser.user.email }}</td>
</tr>
<tr class='border border-top-0 border-start-0 border-end-0'>
<td>Full Address</td>
<td>{{ orderinfo.address }}</td>

</tr>
<tr class='border border-top-0 border-start-0 border-end-0'>
<td>Notes</td>
<td>{{ orderinfo.addressnotes }}</td>
</tr>
</tbody>
</table>
<p class='fw-bold'>KFC Gjilan <span class='text-danger'>(Phone 080021212)</span></p>
<p class='text-secondary'>Address: KFC, Gjilan</p>
<p class='text-secondary'>Delivery type: Delivery</p>
<p class='text-secondary'>Delivery Date: </p>
<hr>
{% for p in orderproducts %}
    <table class='table  table-borderless w-100'>
    <tbody>
    <tr class='border border-top-0 border-start-0 border-end-0 d-flex justify-content-between align-items-center'>
    <td><img class='bg-warning d-inline me-3 img-fluid rounded-circle' width='75' src='images/{{ p.product.photo }}' alt='DexignZone'><div class='bg-danger px-2 py-1 me-2 text-white fw-bold rounded d-inline'>{{ p.quantity }}</div>{{ p.product.name }}</td>
    <td class='text-danger fw-bold'>{{ p.total }}€</td>
    </tr>
    </tbody>
    </table>
  {% endfor %}
  <div class=' d-flex justify-content-between px-2'>
  <p class='text-muted'>Subtotal</sppan><p class='text-danger'>{{ totalprice }}€</p>
  </div>
  <div class=' d-flex justify-content-between px-2'>
  <p class='text-muted'>Tax(0%)</sppan><p class='text-danger'>0.00€</p>
  </div>
  <div class='border border-top-0 border-start-0 border-end-0 d-flex justify-content-between px-2'>
  <p class='text-muted'>Delivery Fee</sppan><p class='text-danger'>0.00€</p>
  </div>
  <div class='d-flex justify-content-between px-2 mt-4'>
  <p class='text-dark fw-bold'>Total including VAT(18%)</sppan><p class='text-danger'>{{ totalprice }}€</p>
  </div>

</div>

  </div>
  
</div>         
</div>
</div>




</div>

{% endblock %}