<div class="container-fluid bg-danger text-light pb-5"  id="footer">
  <div class="row d-flex flex-column flex-md-row justify-content-center align-items-center" id="footerdiv">
    <div class="col align-self-center d-flex justify-content-center" >
      <img src="images/footer-logo.png" class="w-25 mb-3 " id="logophoto">
    </div>
    <div class="col text-center my-2">
      <a>Privacy Policy</a>
    </div>
    <div class="col text-center my-2">
      <a>Terms of use</a>
      
    </div>
    <div class="col text-center my-2">
      <a>Contact us</a>
    </div>
    <div class="col text-center">
      <a><i class="fa fa-facebook mx-3 my-2" style="font-size: 30px;"></i></a>
      <a><i class="fa fa-instagram mx-3 my-2" style="font-size: 30px;"></i></a>
    </div>
  </div>
</div>
<iframe name="frame"></iframe>

<script src="includes/js/index.js"></script>

<script>
  if ( window.history.replaceState ) {
  window.history.replaceState( null, null, window.location.href );
}
</script>
<script src="includes/bootstrap.bundle.min.js"></script>
<script src="includes/jquery-3.3.1.slim.min.js"></script>
<script src="vendor/jquery-validation/dist/jquery.validate.min.js"></script>

</body>
</html>